#bloc-page
{
  width: 1400px;
  margin: auto;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: top;
}

#title
  {
   
    margin-top: 10px;
    font-family: 'Wallpoet', cursive;
    font-size: 74px;
    background: linear-gradient(180deg, rgba(176, 255, 19, 0.43) 0%, rgba(55, 134, 253, 0.2795) 100%);
    border-radius: 20px;
    width: 45%;
  }
  
  .rules
  {
    display: block;
    margin: -24em 53em;
    margin-bottom: 100px;
    text-align: center;
    background: linear-gradient(180deg, rgba(176, 255, 19, 0.43) 0%, rgba(55, 134, 253, 0.2795) 100%);
    border-radius: 20px;
    width: 478px;
    height: 326px;
    
  }
  .rules h2
  {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
  .rules p
  {
    
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    text-align: center;
  }
  

  
  .form
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    width: 50rem;
    background: linear-gradient(180deg, rgba(176, 255, 19, 0.43) 0%, rgba(55, 134, 253, 0.2795) 100%);
    border-radius: 20px;
    margin-left: 19em;
    margin-top: 9em;
  }
  #guesshere
  {
    font-size: 74px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  #guessField
  {
    width: 20rem;
    height: 4rem;
    border-radius: 25px;
  }
  .guessSubmit
  {
    background-color: #c4c4c4;
    border-radius: 17px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    width: 15rem;
    height: 3rem;
  }
  .resultParas
  {
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    margin-left: 22%;
  }
  .chance
  {
    background: linear-gradient(180deg, rgba(176, 255, 19, 0.43) 0%, rgba(55, 134, 253, 0.2795) 100%);
    border-radius: 20px;
    width: 32rem;
    height: 3rem;
    padding-top: 10px;
    text-align: center;
  }
  .guesses
  {
    background: linear-gradient(180deg, rgba(176, 255, 19, 0.43) 0%, rgba(55, 134, 253, 0.2795) 100%);
    border-radius: 20px;
    width: 32rem;
    height: 3rem;
    padding-top: 10px;
    text-align: center;
  }
  .lastResult
  {
    background: linear-gradient(180deg, rgba(176, 255, 19, 0.43) 0%, rgba(55, 134, 253, 0.2795) 100%);
    border-radius: 20px;
    width: 32rem;
    height: 3rem;
    padding-top: 10px;
    text-align: center;
  }
  .lowOrHi
  {
    background: linear-gradient(180deg, rgba(176, 255, 19, 0.43) 0%, rgba(55, 134, 253, 0.2795) 100%);
    border-radius: 20px;
    width: 32rem;
    height: 3rem;
    padding-top: 10px;
    text-align: center;
  }
  .button
  {
    background: linear-gradient(180deg, rgba(176, 255, 19, 0.43) 0%, rgba(55, 134, 253, 0.2795) 100%);
    border-radius: 20px;
    width: 32rem;
    height: 3rem;
    padding-top: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding-bottom: 50px;
    
  }